<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static'), filename='style.css'}}">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <ul class="header_menu">
            <li class="header_menu_item"><a href="">Home</a></li>
            <li class="header_menu_item"><a href="">Portfolio</a></li>
            <li class="header_menu_item"><a href="">About</a></li>
            <li class="header_menu_item"><a href="">Contact us</a></li>
            <li class="header_menu_item"><a href="">Newsletter</a></li>
        </ul>
    </header>
    <div class="cover">
         
    </div>
    <div class="banner">
        
    </div>

</body>
</html>